<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class ="field" >
      <%= f.label :date_of_birth %>
      <%= f.text_field :date_of_birth %>
    </div>

    <div class= "filed">
      <%= f.label :email %>
      <%= f.text_field :email_address %>
    </div>
    <div class= "filed">
      <%= f.label :gender %>
      <%=  f.select(:gender,[['male'],['female']]) %>


    </div>
    <div class ="action">

      <%= f.submit :class =>"btn btn-primary"%>
    </div>
<% end %>


</body>
</html>
