<h1> List of Users </h1>

 <div class=" text-right">
   <div class ="text-left"><%= link_to "New User ", new_user_path, :class =>"btn  btn-primary"%> </div>
  <%= form_tag(users_path, :method => :get) do %>
      <%= text_field_tag :first_name  %>
      <%= submit_tag :search ,:class =>"btn btn-primary"%>
      <%= link_to 'Clear', users_path %>

  <% end %>
</div>
<table class="table">
  <tr>
    <th>Fisrtname</th>
    <th>Lastname</th>
    <th>Dateofbirth</th>
    <th>Email id</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>	
	<td><%= user.date_of_birth %></td>
	<td><%= user.email_address %></td>
    <td><%= user.gender %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate  @users,  :class =>"pagination pagination-centered"%>
